.user_link {
  color: #333;
  text-decoration: underline;
}

.greeting_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 30px;
}

.greeting {
  justify-self: start;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.search_form {
  display: flex;
  align-items: center;
  justify-self: center;
}

.input_style {
  font-size: 16px;
}

.order_form {
  justify-self: end;
  font-size: 16px;
}
