.prototype_wrapper {
  min-height: calc(100vh - 161px);
}

.title {
  text-align: center;
  font-size: 28px;
}

.prototype_user {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.prototype_image {
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}

.prototype_detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail_title {
  font-size: 20px;
  font-weight: bold;
}
