.search_form {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 20px 0;
}

.input_style {
  font-size: 16px;
  margin-right: 30px;
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  border: 2px solid #b1dbff;
  border-radius: 10px;
}

.input_style::placeholder {
  font-size: 14px;
}

.input_style:focus {
  border: 2px solid #42a7ff;
  outline: inherit;
}

.btn {
  width: 80px;
  height: 37px;
  background: #319fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  color: white;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.order_form {
  margin-left: 200px;
  justify-self: end;
  font-size: 16px;
  width: fit-content;
  padding: 5px;
  border: 2px solid #b1dbff;
  border-radius: 10px;
  color: #63b6ff;
  font-weight: 600;
}

.order_form:hover {
  cursor: pointer;
}

.order_form:focus {
  outline: inherit;
}
